//Colors
$white: #fff;
$black:#000000;
$cyan: #2acfcf;
$cyan-hover:#2ae5f5;
$cyan-dark-shade:#027d7d;
$cyan-very-dark:#0b4040;
$cyan-blue:#495057;
$cyan-blue-light:#ced4da;
$blue-medium-dark:#3b3054;
// Fonts
$f-regular: 'poppins-regular';
$f-italic: 'poppins-italic';
$f-medium: 'poppins-medium';
$f-medium-italic: 'poppins-medium-italic';
$f-bold: 'poppins-bold';
$f-bold-italic: 'poppins-bold-italic';
// Image path
$imgPath: '../assets/images';